<div class="container">
    
</div>
@{
    string[] FileLine = ViewBag.FileLine;
    for(int i = 0; i < FileLine.Length; i+=5)
    {
        <div class="container border">
            <div class="panel   ">
                <div class="panel-body">
                    <h6><b>@FileLine[i].ToString()</b></h6>
                    <p>@FileLine[i+1].ToString()</p>
                    <p>@FileLine[i+2].ToString()</p>
                    <p><b>@FileLine[i+3].ToString()</b></p>
                    <p>@FileLine[i+4].ToString()</p>
                </div> 
            </div>
        </div>
        <br>
    }
}
