<div class="container border">
   @* <nav aria-label="Page navigation example "> *@
  <ul class="pagination-sm pagination ng-isolate-scope ng-valid">
    @{
        string[] ChapterLines = ViewBag.ChapterLines;
        <li class="page-item"><a class="page-link" href="/Home/Index?x=0">⏮</a></li>
        <li class="page-item"><a class="page-link" href="/Home/Index?x=0">◀</a></li>
        for(int i = 0; i <= ChapterLines.Length; i++)
        {
            int num = i + 1;
            <li class="page-item"><a class="page-link" href="/Home/Index?x=@i">@num</a></li>
        }
        <li class="page-item"><a class="page-link" href="/Home/Index?x=@ChapterLines.Length">▶</a></li>
        <li class="page-item"><a class="page-link" href="/Home/Index?x=0">⏭</a></li>
    }
  </ul>
</nav>
</div>
<br>
@{
    string[] FileLine = ViewBag.FileLine;
    for(int i = 0; i < FileLine.Length; i+=5)
    {
        <div class="container border">
            <div class="panel   ">
                <div class="panel-body">
                    <h6><b>@FileLine[i].ToString()</b></h6>
                    <p>@FileLine[i+1].ToString()</p>
                    <p>@FileLine[i+2].ToString()</p>
                    <p><b>@FileLine[i+3].ToString()</b></p>
                    <p>@FileLine[i+4].ToString()</p>
                </div> 
            </div>
        </div>
        <br>
    }
}
